body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: radial-gradient(60% 60%,#fbdaae,#cf9f53);
}
/* flexbox */
.flex-box{
    display: flex;
    flex-direction: column;
}

/* navbar */
.nav{
    padding: 40px;
}
.nav a,.footer a{
    color: black;
    text-decoration: none;
}
.nav a:hover{
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
}
.ralign{
    float: right;
}
.ralign a{
    padding: 0 20px;
}
.nav div{
    display: inline-block;
}
a.logo{
    font-weight: 900;
}
a.logo b{
    font-weight: bolder;
    font-size: large;
}
/* content */
.container{
    width: 60%;
    margin: 0 auto;
    padding: 60px;
    /* height: 40vh */
}
h1{
    font-size: 4em;
    padding: 0;
    margin: 0;
}
.home{
    border-radius: 25px;
    background: black;
    color: white;
    margin: 15px 0;
    padding: 12px 25px;
    cursor: pointer;
    border: 0;
    /* box-shadow: 0 0 5px 1px #000; */
    background: linear-gradient(#cf9f53,#5826c9);
}
.cube{
    float: right;
    width: 50%;
}
/* footer */
.footer{
    /* position: sticky; */
    /* bottom: 0; */
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.footer a{
    display: inline-block;
    padding: 20px;
}
.footer a:hover{
    box-sizing: border-box;
    padding-bottom: 18px;
    border-bottom: 2px solid #000;
}