body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* text-shadow  : rgba(29, 42, 12, 0.174) 0px 5px 15px; */
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 3rem;
}
.nav div{
    padding: 14px 0;
}
.nav .nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #2d5b0b;
    margin: 0 10px;
    padding: 5px 0;
}
.nav .brandlogo{
    font-weight: bolder;
    padding-left: 0;
    margin-left: 0;
}
.nav a:not(.brandlogo a):hover{
    border-bottom: 3px solid #2d5b0b;
}
.container{
    padding-top: 3rem;
    width: 100%;
}
.content{
    padding: 3rem;
    width: 35%;
}
.main-img{
    float: right;
    width: 40%;
    margin-right: 120px;
}
.small-text{
    font-size: .8em;
    padding: 10px 0;
    color: rgb(170, 170, 170);
}
.brand-name-lg{
    font-size: 5em;
    margin: 20px 0;
    color: #558c2d;
}
.checks{
    padding-bottom: 30px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.checks label{
    padding-right: 20px;
}
.main-btns{
    padding-top: 40px;
}

.btn.btn-main{
    margin-right: 20px;
    padding: 12px 24px;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 6px;
    background-color: #1a2214;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btn.btn-main:nth-child(1){
    background-color: #264f09;
}
.footer{
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
}
.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #1a2214;
    margin-right: 20px;
}
.disc-coupens{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    /* padding: 0 25px; */
    position: absolute;
    right: 3rem;
    background-color: white;
    bottom: 3rem;
    width: 35%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    /* width: 20%; */
}
.disc-coupens .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.disc-coupens .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    padding-top: 0;
}
.disc-coupens .right, .right a{
    font-size: x-small;
    padding: 0 10px;
}
.disc-coupens .bottom .cols:nth-child(3) small{
    text-decoration: line-through;
}
.bottom button{
    border-radius: 20px;
    border: none;
    padding: 10px;
    background: gold;
    font-size: small;
    color: #453814;
}
