body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background-image: url(./../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    background: transparent;
}
.nav div,.nav div a{
    font-size: medium;
    color: #fff;
    text-decoration: none;
    padding: 3vh 4vh;
}
.nav a:hover{
    border-bottom: 2px solid #5bdbce;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.container .text-main{
    font-size: 3em;
    margin-bottom: 0;
}
.info-1, .info-2{
    padding: 1.5vw 0;
    width: 30vw;
}
.info-3{
    float: right;
    width: 25vw;
    background: rgba(0, 0, 0, 0.3);
    padding: 2vw;
    border-radius: 2vw;
}
.price-tag{
    margin-top: 2vh;
}
.buy-btn{
    margin-top: 4vh;
    padding: 2.5vh 5.5vw;
    border-radius: 2vh;
    background: #5bdbce;
    border: none;
    cursor: pointer;
}
.sidefooter{
    position: absolute;
    right: 4vw;
    top: 40vh;
}
.sidefooter a{
    text-decoration: none;
    color: #fff;
    padding: 1.5vw;
    display: block;
}
.sidefooter a:hover{
    /* background: #fff; */
    color: #5bdbce;
}
